<div class="nav-bar">
  <mat-toolbar>
    <span class="nav-title">We love Movies</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="launchMovies()" class="movie-icon" aria-label="icon button with a roofing icon">
      <mat-icon>roofing</mat-icon>
    </button>
    <button mat-icon-button (click)="launchProfile()" class="account-icon" aria-label="icon-button with manage accounts icon">
      <mat-icon>manage_accounts</mat-icon>
    </button>
    <button mat-icon-button (click)="logoutUser()" class="logout-icon" aria-label="icon button with logout icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</div>